* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.footer {
    background-color: #1f2937;

}

.homebar {
    display: flex;
    padding: 15px;
    align-items: center;
}

.homebar p {
    font-size: 24px;
    color: #f9faf8;
}

.headerlinks {
    list-style: none;
    display: flex;
    flex: auto;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.headercontent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto;
}

.headertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.headertext h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #f9faf8;
    
}

.headertext p {
    font-size: 18px;
    color: #e5e7eb;
}

.headertext button {
    background-color: #3882f6;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
}

.headerlogocontainer {
    display: flex;
    flex: auto;
    justify-content: space-around;
}
.headerlogo {
    width: 300px;
    height: auto;
}